.ByteVisualizer {
    border: none;
    text-align: left;
}

.ByteVisualizer .centerCanvas {
    line-height: 0;
    text-align: center;
}

.ByteVisualizer .canvasBorder {
    display: inline-block;

    border-style: solid;
    border-color: #555;
}

.ByteVisualizer .byteCount {
}