.ByteVisualizer {
    border: none;
    line-height: 0;
    /* background-color: #AAA; */

    text-align: center;
}

.ByteVisualizer .canvasBorder {
    display: inline-block;

    border-style: solid;
    border-color: #555;
}